body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --greenlandtry1-finlandica-regular-13: Finlandica;
  --font-aller: Aller;

  /* font sizes */
  --font-size-base: 16px;
  --greenlandtry1-finlandica-regular-13-size: 13px;
  --greenlandtry1-finlandica-regular-15-size: 15px;
  --greenlandtry1-finlandica-regular-20-size: 20px;
  --greenlandtry1-finlandica-regular-31-size: 31px;
  --greenlandtry1-finlandica-regular-30-size: 30px;
  --greenlandtry1-finlandica-regular-1786-size: 17.9px;
  --greenlandtry1-finlandica-regular-34-size: 34px;
  --greenlandtry1-finlandica-regular-60-size: 60px;
  --greenlandtry1-finlandica-regular-18-size: 18px;
  --font-size-21xl: 40px;
  --greenlandtry1-finlandica-regular-25-size: 25px;
  --font-size-25xl: 44px;
  --greenlandtry1-finlandica-regular-78-size: 78px;
  --greenlandtry1-finlandica-regular-2965-size: 29.6px;

  /* Colors */
  --greenlandtry1-chartreuse-yellow: #ebf2ff;
  --greenlandtry1-nero: #fff;
  --greenlandtry1-mine-shaft: #333;
  --greenlandtry1-cerise: #e63888;
  --greenlandtry1-blue-zodiac: #101f46;
  --greenlandtry1-blue-zodiac-62: rgba(16, 31, 70, 0.62);
  --greenlandtry1-black: #000;
  --greenlandtry1-quarter-spanish-white: #f7f5e1;
  --greenlandtry1-gold: #fbd200;
  --greenlandtry1-deep-sapphire: #0e2973;
  --greenlandtry1-conifer: #ace152;
  --greenlandtry1-purple-heart: #7f35b2;
  --greenlandtry1-cerulean: #00ade6;
  --greenlandtry1-alabaster: #fafafa;
  --greenlandtry1-nero-02: rgba(255, 255, 255, 0);
  --greenlandtry1-froly: #ec5e87;

  /* Paddings */
  --padding-12xs: 1px;
  --padding-2xs: 11px;
  --padding-9xs: 4px;
  --padding-mid: 17px;
  --padding-4xs: 9px;
  --padding-mini: 15px;
  --padding-123xl-5: 142.5px;
  --padding-sm: 14px;
  --padding-3xl: 22px;
  --padding-7xs: 6px;
  --padding-8xs: 5px;
  --padding-3xs: 10px;
  --padding-2xs-2: 10.2px;
  --padding-12xs-8: 0.8px;
  --padding-40xl: 59px;
  --padding-xs: 12px;
  --padding-38xl: 57px;
  --padding-15xl: 34px;
  --padding-11xl: 30px;
  --padding-9xl-5: 28.5px;
  --padding-10xs: 3px;
  --padding-32xl: 51px;
  --padding-5xl: 24px;
  --padding-5xs: 8px;
  --padding-12xl-5: 31.5px;

  /* Border radiuses */
  --br-21xl: 40px;
}
