.divbglayers-pagebackground-c1,
.divlwbaav {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.divlwbaav {
  height: 100%;
  bottom: 0;
  background-color: var(--greenlandtry1-nero);
}
.divbglayers-pagebackground-c1 {
  height: 303840%;
  bottom: -303740%;
  overflow: hidden;
}
.divbackground-group,
.divbglayers-comp-lscygc3x,
.divlwbaav1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
}
.divbglayers-comp-lscygc3x,
.divlwbaav1 {
  height: 100%;
  bottom: 0;
}
.divlwbaav1 {
  background-color: var(--greenlandtry1-cerulean);
}
.divbglayers-comp-lscygc3x {
  margin: 0 !important;
  overflow: hidden;
  z-index: 0;
}
.fees-for-the {
  margin: 0;
}
.fees-for-the-container {
  position: relative;
  line-height: 39.2px;
  display: inline-block;
  max-width: 558px;
}
.heading-5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 36.40999984741211px 0.5849999785423279px 36.38999938964844px;
  z-index: 1;
}
.divcomp-lscygc3x,
.divv5auxf,
.section1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.divcomp-lscygc3x {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 29.395000457763672px 321.5px var(--padding-11xl) 385.5px;
  position: relative;
}
.divv5auxf,
.section1 {
  flex-direction: row;
}
.divv5auxf {
  flex: 1;
  justify-content: flex-start;
}
.section1 {
  justify-content: center;
  min-width: 980px;
}
.divlwbaav2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--greenlandtry1-alabaster);
}
.admissions {
  position: relative;
  line-height: 109.2px;
  display: inline-block;
  max-width: 600px;
}
.heading-1 {
  position: absolute;
  width: calc(100% - 142.5px);
  top: 50.4px;
  right: 0;
  left: 142.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 82.05999755859375px 10.59000015258789px;
  box-sizing: border-box;
}
.divcomp-lsmtx5xk3margin {
  align-self: stretch;
  position: relative;
  height: 160.2px;
}
.new-academic-year {
  position: relative;
  line-height: 44px;
  display: inline-block;
  max-width: 600px;
}
.divcomp-lsmtx5xl5margin,
.heading-11 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading-11 {
  align-items: center;
  padding: var(--padding-7xs) 89.33000183105469px 0 89.30999755859375px;
  gap: 6px 0;
}
.divcomp-lsmtx5xl5margin {
  align-items: flex-start;
  padding: 0 0 40px var(--padding-123xl-5);
  font-size: var(--font-size-25xl);
  font-family: var(--font-aller);
}
.after,
.before {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 33.2px);
  width: 1px;
  height: 60px;
}
.after {
  left: calc(50% + 33.2px);
}
.apply {
  position: relative;
  color: inherit;
  text-decoration: none;
}
.spanm3i7z2 {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 33.2px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.link {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: var(--greenlandtry1-froly);
  width: 245px;
  cursor: pointer;
}
.divcomp-lsmtx5xn5 {
  align-self: stretch;
  position: relative;
  height: 60px;
}
.divcomp-lsmtx5xn5margin {
  height: 70px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-3xs) var(--padding-123xl-5);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--greenlandtry1-finlandica-regular-25-size);
  color: var(--greenlandtry1-nero);
}
.divcomp-lsmtx5xn5margin,
.divh2d-cfda98e5,
.section2 {
  align-self: stretch;
  display: flex;
}
.divh2d-cfda98e5 {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 300.5px 74.81999969482422px 222px;
  box-sizing: border-box;
  min-height: 445px;
  z-index: 1;
}
.section2 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 980px;
  font-size: var(--greenlandtry1-finlandica-regular-78-size);
  color: var(--greenlandtry1-purple-heart);
}
.divlwbaav3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--greenlandtry1-blue-zodiac);
}
.div {
  width: 632.5px;
  flex: 1;
  position: relative;
}
.divsizing-small {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.wix-bg-image-icon,
.wix-video-image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.wix-video-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url(./public/wixvideo--image@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.12;
}
.wix-bg-image-icon {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.we-are-a-container {
  position: relative;
  line-height: 42px;
  display: inline-block;
  max-width: 422px;
}
.divcomp-koqtnp3f,
.heading-51 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading-51 {
  align-items: center;
  padding: 0 0.9800000190734863px;
  z-index: 1;
}
.divcomp-koqtnp3f {
  width: 632.5px;
  align-items: flex-start;
  padding: 72px 105.25px 113px;
  box-sizing: border-box;
  position: relative;
}
.divbglayers-comp-koqtnp4b,
.divlwbaav4 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.divlwbaav4 {
  width: 100%;
  left: 0;
  background-color: var(--greenlandtry1-purple-heart);
}
.divbglayers-comp-koqtnp4b {
  width: 93.94%;
  margin: 0 !important;
  left: 6.06%;
  overflow: hidden;
  z-index: 0;
}
.divo1vz1d {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.divynsbh9,
.image-icon {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.divynsbh9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-icon {
  margin: 0 !important;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.div1 {
  width: 715px;
  flex: 1;
  position: relative;
}
.diviihgii,
.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image {
  width: 715px;
  flex: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  align-items: flex-start;
  z-index: 1;
}
.diviihgii {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--greenlandtry1-black);
  align-items: center;
}
.divt7h78h {
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
  min-width: 715px;
  min-height: 479px;
}
.divvideoplayer2054936319-pla {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--greenlandtry1-nero-02);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.b2808a63a415ba48e27c370c0ca22f-icon {
  width: 715px;
  position: relative;
  height: 479px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.wow-image {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
}
.svg-icon {
  width: 52px;
  position: relative;
  height: 52px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-play-video {
  width: 52px;
  height: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.divcover-comp-koqton4o,
.divplayablecover847694237-ov {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.divplayablecover847694237-ov {
  margin: 0 !important;
  align-items: center;
  padding: 213.5px 331.5px;
  box-sizing: border-box;
  z-index: 1;
}
.divcover-comp-koqton4o {
  background-color: var(--greenlandtry1-black);
  align-items: flex-start;
}
.divcomp-koqton4o {
  width: 715px;
  position: relative;
  height: 479px;
  z-index: 1;
}
.divcomp-koqtnp4b,
.section3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.divcomp-koqtnp4b {
  width: 673.3px;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  margin-left: -40.75px;
}
.section3 {
  flex-direction: row;
  justify-content: center;
  min-width: 980px;
  font-size: var(--greenlandtry1-finlandica-regular-30-size);
}
.divlwbaav5,
.divtcelkx,
.section {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divlwbaav5,
.divtcelkx {
  height: 100%;
  bottom: 0;
  background-color: var(--greenlandtry1-mine-shaft);
}
.divlwbaav5 {
  background-color: var(--greenlandtry1-cerise);
}
.divaizui7-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 140px;
  flex-shrink: 0;
}
.divcomp-jqlvj0tpmargin {
  position: absolute;
  height: calc(100% - 132px);
  width: calc(100% - 84.5px);
  top: 0;
  right: 57.5px;
  bottom: 132px;
  left: 27px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xl) 0 var(--padding-5xs) var(--padding-9xl-5);
  box-sizing: border-box;
}
.before1 {
  position: absolute;
  top: calc(50% - 28px);
  left: calc(50% - 47px);
  width: 1px;
  height: 56px;
}
.div2 {
  position: relative;
  line-height: 56px;
}
.after1,
.spancq3icl {
  position: absolute;
  top: calc(50% - 28px);
}
.spancq3icl {
  left: calc(50% - 47px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.after1 {
  left: calc(50% + 47px);
  width: 1px;
  height: 56px;
}
.divu2unpe {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 314px;
}
.button {
  align-self: stretch;
  position: relative;
  height: 56px;
}
.buttonmargin {
  position: absolute;
  height: calc(100% - 245px);
  width: calc(100% + 89.5px);
  top: 172px;
  right: -28.5px;
  bottom: 73px;
  left: -61px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-10xs) var(--padding-9xl-5);
  box-sizing: border-box;
}
.students {
  position: relative;
  display: inline-block;
  max-width: 201px;
}
.divcomp-jfto2tkqmargin,
.pfont-8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pfont-8 {
  align-self: stretch;
  align-items: center;
  padding: 0 67.12000274658203px 0 67.11000061035156px;
}
.divcomp-jfto2tkqmargin {
  position: absolute;
  width: calc(100% - 23.5px);
  top: 231px;
  right: 29.5px;
  left: -6px;
  align-items: flex-start;
  padding: 0 0 var(--padding-32xl) var(--padding-9xl-5);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--greenlandtry1-finlandica-regular-18-size);
}
.divcomp-jftmmceo,
.divcomp-jqlwcqfimargin {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.divcomp-jftmmceo {
  flex: 1;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
  position: relative;
}
.divcomp-jqlwcqfimargin {
  height: 172px;
  justify-content: center;
  padding: var(--padding-5xl) 0 var(--padding-5xs) var(--padding-9xl-5);
  box-sizing: border-box;
}
.before2 {
  left: calc(50% - 34.1px);
  width: 1px;
  height: 56px;
}
.after2,
.before2,
.spancq3icl1 {
  position: absolute;
  top: calc(50% - 28px);
}
.spancq3icl1 {
  left: calc(50% - 34.1px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.after2 {
  left: calc(50% + 34.1px);
  width: 1px;
  height: 56px;
}
.divu2unpe1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 194px;
}
.buttonmargin1 {
  width: 222.5px;
  height: 59px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-10xs) var(--padding-9xl-5);
  box-sizing: border-box;
}
.pedagogical-staff {
  position: relative;
  display: inline-block;
  max-width: 195px;
}
.pfont-81 {
  align-self: stretch;
  align-items: center;
  padding: 0 var(--padding-12xl-5);
}
.divcomp-jftoi0k6margin,
.divh2d-ac3d7f40,
.pfont-81 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.divcomp-jftoi0k6margin {
  width: 223.5px;
  align-items: flex-start;
  padding: 0 0 var(--padding-32xl) var(--padding-9xl-5);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--greenlandtry1-finlandica-regular-18-size);
}
.divh2d-ac3d7f40 {
  align-self: stretch;
  align-items: center;
  padding: 0 var(--padding-12xl-5) 1.1368683772161603e-13px 0;
  z-index: 1;
}
.divlwbaav7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--greenlandtry1-gold);
}
.divcomp-jqlwcwzimargin {
  position: absolute;
  height: calc(100% - 132px);
  width: calc(100% - 84.5px);
  top: 0;
  right: 58.5px;
  bottom: 132px;
  left: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xl) 0 var(--padding-5xs) var(--padding-9xl-5);
  box-sizing: border-box;
}
.before3 {
  left: calc(50% - 33.2px);
  width: 1px;
  height: 56px;
}
.after3,
.before3,
.spancq3icl2 {
  position: absolute;
  top: calc(50% - 28px);
}
.spancq3icl2 {
  left: calc(50% - 33.2px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.after3 {
  left: calc(50% + 33.2px);
  width: 1px;
  height: 56px;
}
.divu2unpe2 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 311px;
}
.buttonmargin2 {
  position: absolute;
  height: calc(100% - 245px);
  width: calc(100% + 86.5px);
  top: 172px;
  right: -30.5px;
  bottom: 73px;
  left: -56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-10xs) var(--padding-9xl-5);
  box-sizing: border-box;
}
.divcomp-jftoi8ugmargin,
.pfont-82 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pfont-82 {
  align-self: stretch;
  align-items: center;
  padding: 0 49.029998779296875px;
}
.divcomp-jftoi8ugmargin {
  position: absolute;
  width: calc(100% - 29.5px);
  top: 231px;
  right: 30.5px;
  left: -1px;
  align-items: flex-start;
  padding: 0 0 var(--padding-32xl) var(--padding-9xl-5);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--greenlandtry1-finlandica-regular-18-size);
}
.divh2d-f27a224d {
  align-self: stretch;
  position: relative;
  height: 304px;
  z-index: 1;
}
.before4 {
  left: calc(50% - 35.2px);
  width: 1px;
  height: 56px;
}
.after4,
.before4,
.spancq3icl3 {
  position: absolute;
  top: calc(50% - 28px);
}
.spancq3icl3 {
  left: calc(50% - 35.2px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.after4 {
  left: calc(50% + 35.2px);
  width: 1px;
  height: 56px;
}
.divu2unpe3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 195px;
}
.buttonmargin3,
.pfont-83 {
  display: flex;
  flex-direction: column;
}
.buttonmargin3 {
  position: absolute;
  height: calc(100% - 245px);
  width: calc(100% - 29.5px);
  top: 172px;
  right: 28.5px;
  bottom: 73px;
  left: 1px;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-10xs) var(--padding-9xl-5);
  box-sizing: border-box;
}
.pfont-83 {
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
  padding: 0 29.200000762939453px 0 29.190000534057617px;
}
.divlwbaav9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--greenlandtry1-conifer);
}
.divaizui7-icon4 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 132px;
  flex-shrink: 0;
}
.divcomp-jqlwd5c7margin {
  position: absolute;
  height: calc(100% - 133px);
  width: calc(100% - 92.5px);
  top: 0;
  right: 65.5px;
  bottom: 133px;
  left: 27px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 28px 0 var(--padding-xs) var(--padding-9xl-5);
  box-sizing: border-box;
}
.before5 {
  position: absolute;
  top: calc(50% - 28px);
  left: calc(50% - 50.4px);
  width: 1px;
  height: 56px;
}
.a {
  position: relative;
  line-height: 56px;
  color: inherit;
  text-decoration: none;
}
.spancq3icl4 {
  top: calc(50% - 28px);
  left: calc(50% - 50.4px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.after5,
.link1,
.spancq3icl4 {
  position: absolute;
}
.after5 {
  top: calc(50% - 28px);
  left: calc(50% + 50.4px);
  width: 1px;
  height: 56px;
}
.link1 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 314px;
  cursor: pointer;
}
.divcomp-jqizg0dhmargin {
  position: absolute;
  height: calc(100% - 246px);
  width: calc(100% + 89.5px);
  top: 172px;
  right: -31.5px;
  bottom: 74px;
  left: -58px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-10xs) var(--padding-9xl-5);
  box-sizing: border-box;
}
.ratio-of-educators {
  position: relative;
  display: inline-block;
  max-width: 208px;
}
.divcomp-jqizg0domargin,
.pfont-84 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pfont-84 {
  align-self: stretch;
  align-items: center;
  padding: 0 19.540000915527344px 0 19.549999237060547px;
}
.divcomp-jqizg0domargin {
  position: absolute;
  width: calc(100% - 16.5px);
  top: 231px;
  right: 1.5px;
  left: 15px;
  align-items: flex-start;
  padding: 0 0 var(--padding-11xl) var(--padding-9xl-5);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--greenlandtry1-finlandica-regular-18-size);
}
.divcomp-jqizg0ct,
.divh2d-a4a4d5dd {
  align-self: stretch;
  position: relative;
}
.divh2d-a4a4d5dd {
  height: 305px;
  z-index: 1;
}
.divcomp-jqizg0ct {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divv5auxf3,
.section-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.divv5auxf3 {
  align-self: stretch;
  flex: 1;
  justify-content: flex-start;
  z-index: 1;
}
.section-section {
  position: absolute;
  width: 100%;
  top: 1062.4px;
  right: 0;
  left: 0;
  justify-content: center;
  min-width: 980px;
  text-align: left;
  font-size: var(--font-size-21xl);
}
.highlights {
  position: relative;
  display: inline-block;
  max-width: 767px;
}
.divcomp-jftpjg3gmargin,
.heading-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading-2 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-4xs) 243.02000427246094px var(--padding-4xs) 243px;
}
.divcomp-jftpjg3gmargin {
  position: absolute;
  width: calc(100% - 355.5px);
  top: 0;
  right: 249.5px;
  left: 106px;
  align-items: flex-start;
  padding: var(--padding-15xl) 0 var(--padding-15xl) var(--padding-123xl-5);
  box-sizing: border-box;
  min-height: 158px;
}
.fa8970e45e84b1fa2f403348457b91-icon {
  width: 182px;
  position: relative;
  height: 136px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divpgi56a837488b0d4edca970f1f {
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  width: 182px;
  height: 136px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.c0c13e0b7df848748670234ec66cf7-icon {
  width: 181px;
  position: relative;
  height: 136px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divpgi1348d576f2ba474888c7fff {
  position: absolute;
  top: 2.5px;
  left: 189.5px;
  width: 181px;
  height: 136px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.fa354-2c4eecf05ffa46619ef273f7-icon {
  width: 368px;
  position: relative;
  height: 239px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divpgi62a352f2f0a44014be8f053 {
  position: absolute;
  top: 143.5px;
  left: 2.5px;
  width: 368px;
  height: 239px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.a0a09a302d0455f990687898940676-icon {
  width: 202px;
  position: relative;
  height: 155px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divh2d-3d53b21a,
.divpgi222bddf5e3a64d71b8a0c21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divh2d-3d53b21a {
  align-self: stretch;
}
.divpgi222bddf5e3a64d71b8a0c21 {
  position: absolute;
  top: 2.5px;
  left: 375.5px;
  width: 202px;
  height: 155px;
  overflow: hidden;
}
.cafd057a8004b959923f9650ba1d13-icon {
  width: 202px;
  position: relative;
  height: 220px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divpgib0485ade13b4490faeacc5d {
  position: absolute;
  top: 162.5px;
  left: 375.5px;
  width: 202px;
  height: 220px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.df7ddef8a36047a8b102500186f5c4-icon {
  width: 246px;
  position: relative;
  height: 185px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divpgi5f0a2ec44eef4deeb22ce1e {
  position: absolute;
  top: 2.5px;
  left: 582.5px;
  width: 246px;
  height: 185px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.da2149bc2fb4233abf0cedad672f83-icon {
  width: 246px;
  position: relative;
  height: 190px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divpgi35d539de0c95491a9f7aa27 {
  position: absolute;
  top: 192.5px;
  left: 582.5px;
  width: 246px;
  height: 190px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.f5a0973159b74d81b433a34ee10245-icon {
  width: 156px;
  position: relative;
  height: 159px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divpgi6577882057c34651af74b9d {
  position: absolute;
  top: 2.5px;
  left: 833.5px;
  width: 156px;
  height: 159px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.da3d3340cbf4ee58293fd8cfee7349-icon {
  width: 75px;
  position: relative;
  height: 159px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divpgic8fa009a131a4bef8f46a2b {
  position: absolute;
  top: 2.5px;
  left: 994.5px;
  width: 75px;
  height: 159px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.fabccd7b794f3a8f042125a5deb5cd-icon {
  width: 236px;
  position: relative;
  height: 216px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divpgie12c84af8b37471a83cb7a5 {
  position: absolute;
  top: 166.5px;
  left: 833.5px;
  width: 236px;
  height: 216px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.c49cfd9d4b4a15884830c32b5b7dba-icon {
  width: 268px;
  position: relative;
  height: 179px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divpgi7bd12e3741bf4dddbbd24b1 {
  position: absolute;
  top: 2.5px;
  left: 1074.5px;
  width: 268px;
  height: 179px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ae436125f34a99a28aef24b1c9f28d-icon {
  width: 268px;
  position: relative;
  height: 196px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.divpgieb8b082ab90042139c1c871 {
  position: absolute;
  top: 186.5px;
  left: 1074.5px;
  width: 268px;
  height: 196px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divgallery-horizontal-scroll-1 {
  align-self: stretch;
  position: relative;
  height: 1px;
}
.divgallery-horizontal-scroll- {
  align-self: stretch;
  width: 1270px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 382px;
  box-sizing: border-box;
  z-index: 0;
}
.svg-icon1 {
  width: 23px;
  position: relative;
  height: 39px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-next-item {
  width: 23px;
  margin: 0 !important;
  position: absolute;
  top: 172.8px;
  right: 25.5px;
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  z-index: 1;
}
.divh2d-344285e9,
.region {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.region {
  width: 1270px;
  height: 382px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  position: relative;
}
.divh2d-344285e9 {
  position: absolute;
  width: calc(100% + 2.5px);
  top: -2.5px;
  right: 0;
  left: -2.5px;
  flex-direction: column;
}
.divpro-gallery-comp-k5nhamsh {
  align-self: stretch;
  position: relative;
  height: 379.5px;
  overflow: hidden;
  flex-shrink: 0;
}
.divcomp-k5nhamsh,
.divcomp-k5nhamsh1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.divcomp-k5nhamsh1 {
  align-self: stretch;
  justify-content: center;
}
.divcomp-k5nhamsh {
  position: absolute;
  width: 100%;
  top: 158px;
  right: 0;
  left: 0;
  height: 380px;
  justify-content: flex-start;
  padding: 0 0 0.5px;
  box-sizing: border-box;
}
.divh2d-2b96b0e {
  align-self: stretch;
  position: relative;
  height: 538px;
  z-index: 1;
}
.divh2d-271368d3 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divlwbaav11,
.section4 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.section4 {
  top: 1367.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--greenlandtry1-finlandica-regular-60-size);
  color: var(--greenlandtry1-mine-shaft);
}
.divlwbaav11 {
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: var(--greenlandtry1-deep-sapphire);
}
.our-goal-is {
  position: relative;
  display: inline-block;
  max-width: 980px;
}
.pfont-7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1.7999999523162842px 0 1.7799999713897705px;
}
.divcomp-jftpf47emargin {
  align-items: flex-start;
  padding: 48px 0 var(--padding-mid) var(--padding-123xl-5);
}
.divcomp-jftpf47emargin,
.divcomp-jftpg8lxmargin,
.divh2d-5979ddf2,
.pfont-85 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pfont-85 {
  align-items: center;
  padding: 0 202.4199981689453px;
}
.divcomp-jftpg8lxmargin,
.divh2d-5979ddf2 {
  align-items: flex-start;
}
.divcomp-jftpg8lxmargin {
  padding: 0 0 43px var(--padding-123xl-5);
  font-size: var(--greenlandtry1-finlandica-regular-1786-size);
  color: var(--greenlandtry1-cerise);
}
.divh2d-5979ddf2 {
  padding: 0 141.5px 0 var(--padding-12xs);
  z-index: 1;
}
.current-academic-year {
  position: relative;
  display: inline-block;
  max-width: 392px;
}
.divcomp-jftrhygrmargin,
.heading-3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading-3 {
  align-items: center;
  padding: var(--padding-8xs) 44.709999084472656px var(--padding-8xs)
    44.70000076293945px;
  gap: 10px 0;
}
.divcomp-jftrhygrmargin {
  align-items: flex-start;
  padding: 85px 0 var(--padding-mini) var(--padding-38xl);
}
.after6,
.before6 {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 39.2px);
  width: 1px;
  height: 50px;
}
.after6 {
  left: calc(50% + 39.2px);
}
.spanm3i7z21 {
  position: absolute;
  top: calc(50% - 18.5px);
  left: calc(50% - 39.2px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.link2 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--greenlandtry1-cerise);
  width: 160px;
  cursor: pointer;
}
.divcomp-jfuqi5i8 {
  align-self: stretch;
  position: relative;
  height: 50px;
}
.divcomp-jfuqi5i8margin {
  align-self: stretch;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-3xs) var(--padding-38xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--greenlandtry1-finlandica-regular-31-size);
  color: var(--greenlandtry1-nero);
}
.divcomp-jftrhygp,
.divh2d-f8d9f734 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.divh2d-f8d9f734 {
  align-items: center;
  padding: 0 var(--padding-38xl) 75px 0;
  box-sizing: border-box;
  min-height: 373px;
  z-index: 1;
}
.divcomp-jftrhygp {
  width: 506px;
  align-items: flex-start;
  position: relative;
}
.divlwbaav13 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--greenlandtry1-quarter-spanish-white);
}
.b30cc545964c5ca2e740426982fa60-icon {
  width: 759px;
  position: relative;
  height: 373px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 759px;
}
.divbglayers-comp-jftrhygm,
.wow-image1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.wow-image1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divbglayers-comp-jftrhygm {
  overflow: hidden;
}
.divcomp-jftrhygm {
  align-self: stretch;
  width: 759px;
  position: relative;
}
.section6,
.section8 {
  display: flex;
  align-items: flex-start;
}
.section8 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  min-width: 980px;
  font-size: var(--greenlandtry1-finlandica-regular-30-size);
  color: var(--greenlandtry1-gold);
}
.section6 {
  position: absolute;
  width: 100%;
  top: 1879.4px;
  right: 0;
  left: 0;
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--greenlandtry1-finlandica-regular-34-size);
}
.divh2d-eaaa9765,
.main {
  align-self: stretch;
  min-height: 40px;
}
.divh2d-eaaa9765 {
  position: relative;
  height: 2505.4px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div-4xctfy,
.div-c0cvf {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.div-4xctfy {
  background-color: var(--greenlandtry1-nero);
}
.div-c0cvf {
  margin: 0 !important;
  z-index: 0;
}
.divaizui7-icon5 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 91px;
  flex-shrink: 0;
}
.divcomp-lb0a4zi5margin {
  width: 323px;
  height: 172px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-40xl) 0 var(--padding-3xl);
  box-sizing: border-box;
}
.finland-international {
  position: relative;
  display: inline-block;
  max-width: 259px;
}
.heading-6 {
  padding: 0 65.80999755859375px 0 0;
}
.divcomp-jfuqulj9margin,
.heading-6,
.heading-61 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-61 {
  padding: 0 117.25px 0 0;
}
.divcomp-jfuqulj9margin {
  padding: 0 0 var(--padding-3xl);
}
.hellofinlandschoolcom {
  color: inherit;
}
.email-hellofinlandschoolcom {
  position: relative;
  line-height: 25.5px;
  display: inline-block;
  max-width: 271px;
}
.pfont-9 {
  align-self: stretch;
  padding: 0 68.13999938964844px 0.75px 0;
}
.divcomp-jfuqyzke,
.pfont-9,
.pfont-91 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pfont-91 {
  align-self: stretch;
  padding: 0 99.13999938964844px 0.75px 0;
  margin-top: -0.75px;
}
.divcomp-jfuqyzke {
  position: absolute;
  width: calc(100% + 0.4px);
  top: -0.7px;
  right: -0.4px;
  left: 0;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
  min-height: 56px;
}
.divcomp-jfuqyzkemargin {
  align-self: stretch;
  position: relative;
  height: 66px;
  min-height: 66px;
  font-size: var(--greenlandtry1-finlandica-regular-15-size);
}
.divcomp-jfuqulj7,
.divh2d-f82f5565 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divh2d-f82f5565 {
  padding: 0 0 87px var(--padding-xs);
  box-sizing: border-box;
  min-height: 395px;
  z-index: 1;
}
.divcomp-jfuqulj7 {
  width: 297.6px;
  position: relative;
}
.imgmask-group-icon {
  width: 288px;
  position: relative;
  height: 66px;
  max-width: 288px;
}
.divcomp-lb09ynp8margin,
.wow-image2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wow-image2 {
  align-self: stretch;
  height: 66px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.divcomp-lb09ynp8margin {
  position: absolute;
  height: calc(100% - 214px);
  width: calc(100% - 224px);
  top: 0;
  right: 191px;
  bottom: 214px;
  left: 33px;
  justify-content: center;
  padding: var(--padding-40xl) 0 56px 11.984399795532227px;
  box-sizing: border-box;
}
.wow-image-e316f544f9094143b9 {
  width: 39px;
  position: relative;
  height: 39px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.link-facebook-social-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.item,
.list-social-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.list-social-bar {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: flex-start;
  gap: 0 14px;
}
.divcomp-jrkbw9o7 {
  width: 145px;
  position: relative;
  height: 39px;
}
.divcomp-jrkbw9o7margin {
  position: absolute;
  height: calc(100% - 334px);
  width: calc(100% - 367px);
  top: 181px;
  right: 262px;
  bottom: 153px;
  left: 105px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-3xl) 11.984399795532227px;
  box-sizing: border-box;
}
.dream-campus-lonuziyaarai {
  position: relative;
  line-height: 25.5px;
  display: inline-block;
  max-width: 476px;
}
.pfont-86 {
  align-self: stretch;
  align-items: center;
  padding: 0 77.5px 0.75px 77.4800033569336px;
}
.divcomp-k0knboiq,
.pfont-86,
.pfont-87 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pfont-87 {
  align-self: stretch;
  align-items: center;
  padding: 0 103.19000244140625px 0.75px;
  margin-top: -0.75px;
}
.divcomp-k0knboiq {
  position: absolute;
  width: calc(100% - 12px);
  top: -0.7px;
  right: 0;
  left: 12px;
  align-items: flex-start;
  padding: 0 0 54px;
  box-sizing: border-box;
  min-height: 105px;
}
.divcomp-k0knboiqmargin {
  position: absolute;
  width: calc(100% - 36px);
  top: 242px;
  right: 96px;
  left: -60px;
  height: 153px;
}
.divh2d-94fe8136 {
  align-self: stretch;
  position: relative;
  height: 395px;
}
.divcomp-jfuquljf {
  align-self: stretch;
  width: 524px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--greenlandtry1-finlandica-regular-15-size);
  color: var(--greenlandtry1-mine-shaft);
}
.quick-links {
  position: relative;
  display: inline-block;
  max-width: 196px;
}
.divcomp-jfv6xea6margin,
.heading-62 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-62 {
  padding: 0 93.38999938964844px 0 0;
}
.divcomp-jfv6xea6margin {
  padding: var(--padding-40xl) 0 var(--padding-xs);
}
.link-about {
  position: relative;
  line-height: 31.5px;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  max-width: 196px;
}
.pfont-92,
.pfont-93,
.pfont-94,
.pfont-95 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 158.94000244140625px 0.75px 0;
}
.pfont-93,
.pfont-94,
.pfont-95 {
  padding: 0 127px 0.75px 0;
  margin-top: -0.7px;
}
.pfont-94,
.pfont-95 {
  padding: 0 142.75px 0.75px 0;
}
.pfont-95 {
  padding: 0 122.75px 0.75px 0;
}
.link-careers {
  position: relative;
  line-height: 31.5px;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  max-width: 196px;
  cursor: pointer;
}
.pfont-96 {
  align-self: stretch;
  padding: 0 149.8000030517578px 0.75px 0;
  margin-top: -0.7px;
}
.divcomp-jfv6uoue,
.pfont-96,
.pfont-97 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pfont-97 {
  align-self: stretch;
  padding: 0 148.72000122070312px 0.75px 0;
  margin-top: -0.7px;
}
.divcomp-jfv6uoue {
  position: absolute;
  width: 100%;
  top: -0.7px;
  right: 0;
  left: 0;
  padding: 0 0 39px;
  box-sizing: border-box;
  min-height: 183px;
}
.divcomp-jfv6uouemargin {
  align-self: stretch;
  position: relative;
  height: 238px;
  min-height: 193px;
  font-size: var(--greenlandtry1-finlandica-regular-15-size);
}
.divh2d-7e00950b {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 9.40999984741211px 62px 0;
  box-sizing: border-box;
  min-height: 395px;
}
.divcomp-jfuquljn,
.divh2d-7e00950b,
.section9 {
  display: flex;
  align-items: flex-start;
}
.divcomp-jfuquljn {
  align-self: stretch;
  width: 205.4px;
  flex-direction: column;
  justify-content: flex-start;
}
.section9 {
  width: 1027px;
  flex-direction: row;
  justify-content: center;
  min-width: 980px;
}
.divcomp-jfus4nzw,
.pfont-98 {
  flex-direction: column;
  justify-content: flex-start;
}
.pfont-98 {
  align-self: stretch;
  display: flex;
  align-items: center;
  padding: 0 271.0799865722656px 0 271.05999755859375px;
  z-index: 1;
}
.divcomp-jfus4nzw {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-2xs) var(--padding-123xl-5) 20px;
  position: relative;
}
.divcomp-jfus4nzw,
.divh2d-65c2d701,
.section10 {
  align-self: stretch;
  display: flex;
}
.section10 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 980px;
  text-align: center;
  font-size: var(--greenlandtry1-finlandica-regular-13-size);
  color: var(--greenlandtry1-nero);
}
.divh2d-65c2d701 {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}
.footer {
  align-self: stretch;
  position: relative;
  text-align: left;
  font-size: var(--greenlandtry1-finlandica-regular-20-size);
  color: var(--greenlandtry1-black);
}
.divmasterpage,
.divsite-root,
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divmasterpage {
  align-self: stretch;
  padding: 92px 0 0;
}
.divsite-root {
  position: absolute;
  top: 0;
  left: calc(50% - 632.5px);
  width: 1265px;
  min-width: 980px;
  min-height: 3038.3798828125px;
}
.div-4xctfy1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--greenlandtry1-blue-zodiac-62);
}
.link-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 56px;
  flex-shrink: 0;
  cursor: pointer;
}
.divcomp-jqkg2b7amargin {
  align-self: stretch;
  width: 342.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-sm) 0 var(--padding-3xl) var(--padding-123xl-5);
  box-sizing: border-box;
}
.home {
  position: relative;
  line-height: 39px;
  color: inherit;
  text-decoration: none;
}
.divh2d-50d7cdf6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10.029999732971191px;
}
.item3,
.link3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.link3 {
  align-self: stretch;
  padding: 0 var(--padding-8xs);
  cursor: pointer;
}
.item3 {
  color: var(--greenlandtry1-cerise);
}
.divh2d-1a00ec8c,
.divh2d-98b74603 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.divh2d-98b74603 {
  padding: 0 9.859999656677246px 0 var(--padding-3xs);
}
.divh2d-1a00ec8c {
  padding: 0 10.220000267028809px 0 10.199999809265137px;
}
.divh2d-e7664619 {
  padding: 0 10.229999542236328px 0 10.220000267028809px;
}
.divh2d-38145424,
.divh2d-c1884a4,
.divh2d-dd0e7ec1,
.divh2d-e7664619 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.divh2d-dd0e7ec1 {
  padding: 0 10.25px 0 10.229999542236328px;
}
.divh2d-38145424,
.divh2d-c1884a4 {
  padding: 0 9.920000076293945px 0 var(--padding-3xs);
}
.divh2d-c1884a4 {
  padding: 0 9.640000343322754px 0 var(--padding-3xs);
}
.nav-site-list {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-7xs);
  box-sizing: border-box;
}
.wix-dropdown-menu {
  align-self: stretch;
  position: relative;
  height: 39px;
}
.divh2d-21c4f96f,
.wix-dropdown-menumargin {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.wix-dropdown-menumargin {
  width: 880.5px;
  flex-direction: column;
  padding: var(--padding-3xl) 0 31px var(--padding-123xl-5);
  box-sizing: border-box;
  margin-left: -114.5px;
}
.divh2d-21c4f96f {
  flex-direction: row;
  padding: 0 var(--padding-123xl-5) 0 var(--padding-sm);
  z-index: 1;
}
.divmain-mf,
.divsite-header,
.divxpeafp {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.divsite-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
}
.divmain-mf,
.divxpeafp {
  height: 3038.4px;
}
.divxpeafp {
  margin: 0 !important;
  height: 100%;
  bottom: 0;
  background-color: var(--greenlandtry1-mine-shaft);
  overflow: hidden;
  z-index: 0;
}
.item10,
.link-white-facebook-icon {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-white-facebook-icon {
  cursor: pointer;
}
.item10 {
  height: 22px;
}
.wow-image-01ab6619093f45388d {
  width: 22px;
  position: relative;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.item12,
.list-social-bar1 {
  width: 22px;
  height: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list-social-bar1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  gap: 17px 0;
}
.divcomp-jftmgs0v {
  align-self: stretch;
  position: relative;
  height: 100px;
}
.divcomp-jftmg6xm,
.divh2d-6f4b554 {
  width: 42px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divh2d-6f4b554 {
  padding: var(--padding-mid) var(--padding-4xs) var(--padding-mini)
    var(--padding-2xs);
  box-sizing: border-box;
  z-index: 1;
}
.divcomp-jftmg6xm {
  position: absolute;
  top: 269.5px;
  left: 1223px;
}
.divcomp-jftmg6xm-pinned-layer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 2323px;
  right: 0;
  bottom: -2323px;
  left: 0;
}
.svg-icon2 {
  align-self: stretch;
  width: 24px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.divglarity-summary-icon {
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px var(--padding-9xs);
}
.svg-icon3 {
  width: 20px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.divtranslate-container {
  align-self: stretch;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-9xs);
  box-sizing: border-box;
}
.divglarity-translate,
.section11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.section11 {
  position: absolute;
  width: calc(100% - 1203px);
  top: 2411px;
  right: 0;
  left: 1203px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  background-color: var(--greenlandtry1-chartreuse-yellow);
  border: 1px solid var(--greenlandtry1-nero);
  box-sizing: border-box;
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs);
}
.wwwfinlandschoolcom-by-html {
  width: 100%;
  position: relative;
  height: 671px;
  text-align: center;
  font-size: var(--greenlandtry1-finlandica-regular-2965-size);
  color: var(--greenlandtry1-nero);
  font-family: var(--greenlandtry1-finlandica-regular-13);
}
